<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En Construcciones Jose Maria Moreno CB ofrecemos nuestra larga experiencia de mas de 25 años en el sector de la construccion y reforma, para que haga realidad sus proyectos. Cuenta con nuestra orientacion, consejos y profesionalidad para llevarlos a cabo de forma. Nuestros clientes nos avalan.">
    <meta name="keywords" content="Construccion, Reformas, Obra">
    <meta name="author" content="Joma Moreno">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="7 days">
    <meta name="category" content="Construcciones y reformas">
    
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../favicon.ico?v=2">
    
    <!--Css-->
    <link rel="stylesheet" href="../estilos/estilos.css">

    <title> Construcciones Jose Maria Moreno CB </title>
</head>

<body>

    <div class="principal">
        

        <!--Cabecera-->

        <header>
            <img class="logo" src="../assets/images/logo.png" alt="logo" width="225" height="225">
            <h1>Construcciones Jose Maria Moreno CB</h1>
        </header>


        <!--Barra de navegación-->

        <nav>
            <ul class="caja1">
                <li>
                    <a class="enlace" href="../index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="productos.html">Trabajos</a>
                </li>
                <li>
                    <a class="enlace activo" href="#">Contacto</a>
                </li>
                <li>
                    <a class="enlace" href="presupuesto.html">Presupuesto</a>
                </li>
            </ul>
            <form class="caja2">
                <input type="search" placeholder="Buscar">
                <input type="submit" value="Busqueda">
            </form>
        </nav>


        <!--Sección principal-->

        <main>
            <div class="contacto">
                <h3>Contacto</h3>
                <p>Si tiene pensado realizar una construcción o reforma no dude en contar con nosotros. Ponemos a su disposición toda nuestra experiencia para guiarle de forma responsable y profesional.</p>
                <p class="margen">Nuestra empresa se encuentra en Hondon de las Nieves C.P.03688 (Alicante, España), en la calle Partida de Bayón camino 3 nº22.</p>
                <ul class="margen lateral">
                    <li>Teléfono de contacto 671395571</li>
                    <li>Correo electrónico jmmfempresa@gmail.com</li>
                </ul>
            </div>
            <div class="contacto1">
                <img class="imagen" src="../assets/images/hondon_de_las_nieves_map.jpg" alt="Mapa de Hondón de las Nieves" width="225" height="225">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1741176992866!6m8!1m7!1sczHoE_gM8tsndFJsYcKQYg!2m2!1d38.30224976002012!2d-0.8696567857908911!3f353.0821937260106!4f-1.315965119957383!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </main>


        <!--Barra de navegación lateral-->

        <aside>
            <ul class="caja3">
                <li>
                    <a class="enlace1" href="legislacion.html">Legislación</a>
                </li>
                <li>
                    <a class="enlace1" href="asociados.html">Asociados</a>
                </li>
                <li>
                    <a class="enlace1" href="videos.html">Videos</a>
                </li>
            </ul>
        </aside>


        <!--Pie de página-->

        <footer>
            <p>&copy; Todos los derechos reservados</p>
            <div class="pie">
                <p>Síguenos en:</p>
                <img class="logo1" src="../assets/images/find-us-on-facebook-logo-svgrepo-com.svg" alt="Logotipo de Facebook" width="800" height="800">
                <a class="enlace" href="https://www.facebook.com/campingbungalows.labolera">Facebook</a>
                <img class="logo2" src="../assets/images/youtube-svgrepo-com.svg" alt="Logotipo de Youtube" width="800" height="800"> 
                <a class="enlace" href="https://www.youtube.com/watch?v=E3QV-Q6gMbI&list=PL3ANikm00BsQ8XFvS35hcydenPT0xJxWL&ab_channel=fischerIb%C3%A9rica">Youtube</a> 
            </div>
        </footer>
    </div>

</body>