<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En Construcciones Jose Maria Moreno CB ofrecemos nuestra larga experiencia de mas de 25 años en el sector de la construccion y reforma, para que haga realidad sus proyectos. Cuenta con nuestra orientacion, consejos y profesionalidad para llevarlos a cabo de forma. Nuestros clientes nos avalan.">
    <meta name="keywords" content="Construccion, Reformas, Obra">
    <meta name="author" content="Joma Moreno">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="7 days">
    <meta name="category" content="Construcciones y reformas">
    
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../favicon.ico?v=2">
    
    <!--Css-->
    <link rel="stylesheet" href="../estilos/estilos.css">

    <title> Construcciones Jose Maria Moreno CB </title>
</head>

<body>

    <div class="principal">


        <!--Cabecera-->

        <header>
            <img class="logo" src="../assets/images/logo.png" alt="logo" width="225" height="225">
            <h1>Construcciones Jose Maria Moreno CB</h1>
        </header>


        <!--Barra de navegación-->

        <nav>
            <ul class="caja1">
                <li>
                    <a class="enlace" href="../index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="productos.html">Trabajos</a>
                </li>
                <li>
                    <a class="enlace" href="contacto.html">Contacto</a>
                </li>
                <li>
                    <a class="enlace" href="presupuesto.html">Presupuesto</a>
                </li>
            </ul>
            <form class="caja2">
                <input type="search" placeholder="Buscar">
                <input type="submit" value="Busqueda">
            </form>
        </nav>

        <main>
            <div class="productos">
                <h3>Legislación</h3>
                <p>En esta página podrían mostrarse las leyes vigentes a la hora de construir o reformar en el área donde opera la empresa, asi como algunos links a ayuntamientos para acceder a licencias de obras...</p>
            </div>
        </main>


        <!--Barra de navegación lateral-->

        <aside>
            <ul class="caja3">
                <li>
                    <a class="enlace1 activo" href="#">Legislación</a>
                </li>
                <li>
                    <a class="enlace1" href="asociados.html">Asociados</a>
                </li>
                <li>
                    <a class="enlace1" href="videos.html">Videos</a>
                </li>
            </ul>
        </aside>


        <!--Pie de página-->

        <footer>
            <p>&copy; Todos los derechos reservados</p>
            <div class="pie">
                <p>Síguenos en:</p>
                <img class="logo1" src="../assets/images/find-us-on-facebook-logo-svgrepo-com.svg" alt="Logotipo de Facebook" width="800" height="800">
                <a class="enlace" href="https://www.facebook.com/campingbungalows.labolera">Facebook</a>
                <img class="logo2" src="../assets/images/youtube-svgrepo-com.svg" alt="Logotipo de Youtube" width="800" height="800"> 
                <a class="enlace" href="https://www.youtube.com/watch?v=E3QV-Q6gMbI&list=PL3ANikm00BsQ8XFvS35hcydenPT0xJxWL&ab_channel=fischerIb%C3%A9rica">Youtube</a> 
            </div>
        </footer>
    </div>

</body>