<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="En Construcciones Jose Maria Moreno CB ofrecemos nuestra larga experiencia de mas de 25 años en el sector de la construccion y reforma, para que haga realidad sus proyectos. Cuenta con nuestra orientacion, consejos y profesionalidad para llevarlos a cabo de forma. Nuestros clientes nos avalan.">
    <meta name="keywords" content="Construccion, Reformas, Obra">
    <meta name="author" content="Joma Moreno">
    <meta name="lang" content="es">
    <meta name="revisit-after" content="7 days">
    <meta name="category" content="Construcciones y reformas">
    
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="../favicon.ico?v=2">
    
    <!--Css-->
    <link rel="stylesheet" href="../estilos/estilos.css">

    <title> Construcciones Jose Maria Moreno CB </title>
</head>

<body>

    <div class="principal">
        

        <!--Cabecera-->

        <header>
            <img class="logo" src="../assets/images/logo.png" alt="logo" width="225" height="225">
            <h1>Construcciones Jose Maria Moreno CB</h1>
        </header>


        <!--Barra de navegación-->

        <nav>
            <ul class="caja1">
                <li>
                    <a class="enlace" href="../index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace activo" href="#">Trabajos</a>
                </li>
                <li>
                    <a class="enlace" href="contacto.html">Contacto</a>
                </li>
                <li>
                    <a class="enlace" href="presupuesto.html">Presupuesto</a>
                </li>
            </ul>
            <form class="caja2">
                <input type="search" placeholder="Buscar">
                <input type="submit" value="Busqueda">
            </form>
        </nav>


        <!--Sección principal-->

        <main>
            <div class="productos">
                <h3>Trabajos</h3>
                <p>A continuación puede ver una serie de fotografías tomadas a algunos de nuestros trabajos realizados a diferentes clientes.</p>
            </div>
            <div class="rejilla">
                <div class="foto1">
                    <img class="imagen1" src="../assets/images/Almacén-Avelino.jpg" alt="Interior de una almacén recién construido" width="2040" height="1148">
                </div>
                <div>
                    <img class="imagen1" src="../assets/images/Barbacoa_Librada.jpg" alt="Barbacoa reformada en interior" width="2048" height="1536">
                </div>
                <div class="foto2">
                    <img class="imagen1" src="../assets/images/Baño_Juan.jpg" alt="Reforma de un baño" width="1148" height="2040">
                </div>
                <div>
                    <img class="imagen1" src="../assets/images/Casa_Avelino.jpg" alt="Reforma de una fachada exterior" width="2040" height="1530">
                </div>
                <div class="foto3">
                    <img class="imagen1" src="../assets/images/Escaleras_Frailes.jpg" alt="Fachada de unas escaleras exteriores decoradas con piedra de mampostería" width="2048" height="1536">
                </div>
                <div>
                    <img class="imagen1" src="../assets/images/Jumilla.jpg" alt="Casa construida y decorada estilo rústico" width="2048" height="1536">
                </div>
                <div>
                    <img class="imagen1" src="../assets/images/Piscina_Angel.jpg" alt="Construcción de una piscina" width="1536" height="2048">
                </div>
                <div class="foto4">
                    <img class="imagen1" src="../assets/images/Reforma_local.jpg" alt="Reforma de un local reconvertido en vivienda" width="1148" height="2040">
                </div>
            </div>
            <div class="productos1">
                <h4>Leyenda</h4>
                <p class="productos2">El orden a seguir es de izquierda a derecha y de arriba a abajo. La primera fotografía es la de arriba a la izquierda.</p>
                <ol>
                    <li>Un garaje almacén con suelo de hormigón fratasado, paredes enlucidas en blanco y techo de laminas de acero galvánico.</li>
                    <li>Barbacoa de interior con ladrillos reflectarios y piedra de mamposteria, paredes adornadas con ladrillos.</li>
                    <li>Baño con ángulos poco convencionales, reformado con azulejos imitación a mármol y cambio de bañera por plato de ducha.</li>
                    <li>Escaleras de exterior adornadas con balustrada blanca y piedra de mampostería amarilla en la pared.</li>
                    <li>Reforma de paredes exteriores de una vivienda, saneadas y enlucidas en blanco.</li>
                    <li>Casa construida con estilo de decoración rústica con piedras de manpostería amarillas y negras.</li>
                    <li>Inicio de construcción de una piscina.</li>
                    <li>Colocación de suelo imitación a madera en un local.</li>
                </ol>
            </div>
        </main>


        <!--Barra de navegación lateral-->

        <aside>
            <ul class="caja3">
                <li>
                    <a class="enlace1" href="legislacion.html">Legislación</a>
                </li>
                <li>
                    <a class="enlace1" href="asociados.html">Asociados</a>
                </li>
                <li>
                    <a class="enlace1" href="videos.html">Videos</a>
                </li>
            </ul>
        </aside>


        <!--Pie de página-->
        
        <footer>
            <p>&copy; Todos los derechos reservados</p>
            <div class="pie">
                <p>Síguenos en:</p>
                <img class="logo1" src="../assets/images/find-us-on-facebook-logo-svgrepo-com.svg" alt="Logotipo de Facebook" width="800" height="800">
                <a class="enlace" href="https://www.facebook.com/campingbungalows.labolera">Facebook</a>
                <img class="logo2" src="../assets/images/youtube-svgrepo-com.svg" alt="Logotipo de Youtube" width="800" height="800"> 
                <a class="enlace" href="https://www.youtube.com/watch?v=E3QV-Q6gMbI&list=PL3ANikm00BsQ8XFvS35hcydenPT0xJxWL&ab_channel=fischerIb%C3%A9rica">Youtube</a> 
            </div>
        </footer>
    </div>

</body>